In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('listings.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45533 entries, 0 to 45532
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              45533 non-null  int64
 1   name                            45532 non-null  object
 2   host_id                         45533 non-null  int64
 3   host_name                       45531 non-null  object
 4   neighbourhood_group             45533 non-null  object
 5   neighbourhood                   45533 non-null  object
 6   latitude                        45533 non-null  float64
 7   longitude                       45533 non-null  float64
 8   room_type                       45533 non-null  object
 9   price                           37296 non-null  float64
 10  minimum_nights                  45533 non-null  int64
 11  number_of_reviews               45533 non-null  int64
 12  last_review                     33387 non-null  object
 13  reviews_per_month               33387 non-null  float64
 14  calculated_host_listings_count  45533 non-null  int64
 15  availability_365                45533 non-null  int64
 16  number_of_reviews_ltm           45533 non-null  int64
 17  license                         12803 non-null  object
dtypes: float64(4), int64(7), object(7)
memory usage: 6.3+ MB

In [4]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,37014494,Spanish style lower duplex near Beverly Hills,278288178,Ida,City of Los Angeles,Beverlywood,34.048410,-118.387510,Entire home/apt,NaN,30,0,NaN,NaN,1,0,0,NaN
1,1024835174766068422,Charming Beverly Hills Home,513813179,Tiana,Other Cities,Beverly Hills,34.070583,-118.390742,Entire home/apt,434.0,30,0,NaN,NaN,4,267,0,NaN
2,1211025880050828732,Modern Hollywood Hills house,68445028,John,Other Cities,Beverly Hills,34.065140,-118.375820,Entire home/apt,319.0,1,0,NaN,NaN,25,365,0,NaN
3,953950676345326970,"Santa Monica apt, free parking, steps to the b...",528669205,Farkhat,Other Cities,Santa Monica,34.015590,-118.494080,Entire home/apt,231.0,5,44,2024-07-21,3.41,3,193,38,Exempt
4,5694422,2 Bedroom Modern Oasis,4151836,Sara,City of Los Angeles,Del Rey,33.990170,-118.422520,Entire home/apt,110.0,30,368,2023-05-04,3.21,2,117,0,HSR19-004352
5,51254530,Clean Fresh Cozy Private Room in West Hollywood,61324086,L.A.,Other Cities,West Hollywood,34.092360,-118.363940,Private room,145.0,2,23,2024-08-11,0.67,1,265,4,Exempt
6,1170483662809370027,Beachy Garden Guesthouse,25264978,Duncan,Other Cities,Santa Monica,34.019890,-118.485520,Entire home/apt,280.0,3,9,2024-08-26,3.07,1,202,9,Exempt
7,6002187,Work from Home ON the Venice Beach Canals!,6726465,Linda,City of Los Angeles,Venice,33.982750,-118.466260,Entire home/apt,147.0,30,64,2024-08-04,0.56,3,75,5,NaN
8,1158417037056953812,Lovely High Rise in Ktown,485962662,Max,City of Los Angeles,Westlake,34.053966,-118.265188,Entire home/apt,250.0,30,0,NaN,NaN,2,269,0,NaN
9,53405110,Downtown Loft,416339920,Shaina,City of Los Angeles,Downtown,34.046780,-118.250070,Private room,200.0,30,0,NaN,NaN,4,364,0,NaN

In [6]:
df.shape

(45533, 18)

In [7]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,4.553300e+04,4.553300e+04,45533.000000,45533.000000,37296.000000,45533.000000,45533.000000,33387.000000,45533.000000,45533.000000,45533.000000
mean,5.208941e+17,1.950473e+08,34.055308,-118.312743,289.377762,17.858520,36.658929,1.458020,18.604155,195.093449,8.459864
std,4.976570e+17,1.899825e+08,0.141394,0.172210,715.366985,28.836101,80.548528,1.719427,66.312446,133.394403,16.361008
min,1.090000e+02,5.210000e+02,33.338360,-118.917134,5.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,3.319485e+07,2.632699e+07,33.998590,-118.413090,98.000000,2.000000,0.000000,0.220000,1.000000,75.000000,0.000000
50%,6.363561e+17,1.165631e+08,34.060625,-118.343391,155.000000,14.000000,6.000000,0.790000,2.000000,202.000000,1.000000
75%,1.006571e+18,3.712316e+08,34.108160,-118.233737,260.000000,30.000000,34.000000,2.230000,9.000000,335.000000,9.000000
max,1.238217e+18,5.997497e+08,34.811183,-117.653352,56425.000000,1124.000000,3024.000000,55.490000,569.000000,365.000000,543.000000

In [9]:
df.isnull().sum()

id                                    0
name                                  1
host_id                               0
host_name                             2
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                              8237
minimum_nights                        0
number_of_reviews                     0
last_review                       12146
reviews_per_month                 12146
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           32730
dtype: int64

In [12]:
df.drop(['last_review', 'host_name', 'number_of_reviews_ltm', 'license'], axis=1, inplace=True)