In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('listings.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45533 entries, 0 to 45532
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              45533 non-null  int64
 1   name                            45532 non-null  object
 2   host_id                         45533 non-null  int64
 3   host_name                       45531 non-null  object
 4   neighbourhood_group             45533 non-null  object
 5   neighbourhood                   45533 non-null  object
 6   latitude                        45533 non-null  float64
 7   longitude                       45533 non-null  float64
 8   room_type                       45533 non-null  object
 9   price                           37296 non-null  float64
 10  minimum_nights                  45533 non-null  int64
 11  number_of_reviews               45533 non-null  int64
 12  last_review                     33387 non-null  object
 13  reviews_per_month               33387 non-null  float64
 14  calculated_host_listings_count  45533 non-null  int64
 15  availability_365                45533 non-null  int64
 16  number_of_reviews_ltm           45533 non-null  int64
 17  license                         12803 non-null  object
dtypes: float64(4), int64(7), object(7)
memory usage: 6.3+ MB

In [29]:
df.head(5)

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,37014494,278288178,City of Los Angeles,Beverlywood,34.048410,-118.387510,Entire home/apt,290.277778,30,0,0.0,1,0
1,1024835174766068422,513813179,Other Cities,Beverly Hills,34.070583,-118.390742,Entire home/apt,434.000000,30,0,0.0,4,267
2,1211025880050828732,68445028,Other Cities,Beverly Hills,34.065140,-118.375820,Entire home/apt,319.000000,1,0,0.0,25,365
3,953950676345326970,528669205,Other Cities,Santa Monica,34.015590,-118.494080,Entire home/apt,231.000000,5,44,3.0,3,193
4,5694422,4151836,City of Los Angeles,Del Rey,33.990170,-118.422520,Entire home/apt,110.000000,30,368,3.0,2,117

In [5]:
df.shape

(45533, 18)

In [6]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,4.553300e+04,4.553300e+04,45533.000000,45533.000000,37296.000000,45533.000000,45533.000000,33387.000000,45533.000000,45533.000000,45533.000000
mean,5.208941e+17,1.950473e+08,34.055308,-118.312743,289.377762,17.858520,36.658929,1.458020,18.604155,195.093449,8.459864
std,4.976570e+17,1.899825e+08,0.141394,0.172210,715.366985,28.836101,80.548528,1.719427,66.312446,133.394403,16.361008
min,1.090000e+02,5.210000e+02,33.338360,-118.917134,5.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,3.319485e+07,2.632699e+07,33.998590,-118.413090,98.000000,2.000000,0.000000,0.220000,1.000000,75.000000,0.000000
50%,6.363561e+17,1.165631e+08,34.060625,-118.343391,155.000000,14.000000,6.000000,0.790000,2.000000,202.000000,1.000000
75%,1.006571e+18,3.712316e+08,34.108160,-118.233737,260.000000,30.000000,34.000000,2.230000,9.000000,335.000000,9.000000
max,1.238217e+18,5.997497e+08,34.811183,-117.653352,56425.000000,1124.000000,3024.000000,55.490000,569.000000,365.000000,543.000000

In [7]:
df.isnull().sum()

id                                    0
name                                  1
host_id                               0
host_name                             2
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                              8237
minimum_nights                        0
number_of_reviews                     0
last_review                       12146
reviews_per_month                 12146
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           32730
dtype: int64

In [8]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [9]:
df.drop(['last_review', 'host_name', 'number_of_reviews_ltm', 'license','name'], axis=1, inplace=True)

In [ ]:
df['reviews_per_month'].fillna(0, inplace=True)
df['reviews_per_month'] = df['reviews_per_month'].apply(lambda x: np.round(x) if x > 0 else 0)

In [10]:
df.columns

Index(['id', 'host_id', 'neighbourhood_group', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

In [12]:
df.shape

(45533, 13)

In [13]:
df_subset = df[['price', 'neighbourhood']]
df_subset.head(5)

   price  neighbourhood
0    NaN    Beverlywood
1  434.0  Beverly Hills
2  319.0  Beverly Hills
3  231.0   Santa Monica
4  110.0        Del Rey

In [14]:
df_subset.isnull().sum()

price            8237
neighbourhood       0
dtype: int64

In [15]:
df_subset = df_subset[df_subset['price'].notna()]

In [21]:
import scipy.stats as stats

f_stat, p_value = stats.f_oneway(*(df_subset[df_subset['neighbourhood'] == neighbourhood]['price'].dropna() for neighbourhood in df_subset['neighbourhood'].unique()))

print(f"ANOVA F-statistic: {f_stat}")
print(f"ANOVA p-value: {p_value}")

ANOVA F-statistic: 21.669949284742607
ANOVA p-value: 0.0

In [22]:
df['price'] = df.groupby('neighbourhood')['price'].transform(lambda x: x.fillna(x.mean()))

In [28]:
df.isnull().sum()

id                                0
host_id                           0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             1
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [27]:
corr = df.corr(method='kendall')
plt.figure(figsize=(15,8))
sns.heatmap(corr, annot=True)
df.columns